HOST=127.0.0.1
PORT=3000
DATABASE_PATH=./data/onewarden.sqlite3
BACKUP_FOLDER=./data/backups
SENDS_FOLDER=./data/sends
ATTACHMENTS_FOLDER=./data/attachments
LOG_LEVEL=info
PROXY=false
ENABLE_WEBSOCKET=true
# PUBLIC_ORIGIN=https://vault.example.com
PUSH_ENABLED=false
PUSH_RELAY_URI=https://push.bitwarden.com
PUSH_IDENTITY_URI=https://identity.bitwarden.com
# PUSH_INSTALLATION_ID=
# PUSH_INSTALLATION_KEY=
SIGNUPS_ALLOWED=true
SIGNUPS_VERIFY=false
SIGNUPS_VERIFY_RESEND_TIME=3600
SIGNUPS_VERIFY_RESEND_LIMIT=6
# SIGNUPS_DOMAINS_WHITELIST=example.com
ORG_CREATION_USERS=
INVITATIONS_ALLOWED=true
INVITATION_EXPIRATION_HOURS=120
EMERGENCY_ACCESS_ALLOWED=true
PASSWORD_ITERATIONS=600000
PASSWORD_HINTS_ALLOWED=true
MAIL_ENABLED=false
ENABLE_EMAIL_2FA=false
EMAIL_TOKEN_SIZE=6
EMAIL_EXPIRATION_TIME=600
EMAIL_ATTEMPTS_LIMIT=3
INCOMPLETE_2FA_TIME_LIMIT=3
DUO_ENABLED=true
# DUO_HOST=
# DUO_IKEY=
# DUO_SKEY=
# YUBICO_ENABLED=false
# YUBICO_CLIENT_ID=
# YUBICO_SECRET_KEY=
# YUBICO_SERVER=https://api.yubico.com
UNAUTHENTICATED_RATELIMIT_SECONDS=60
UNAUTHENTICATED_RATELIMIT_MAX_BURST=50
