HOST=127.0.0.1
PORT=3000
DATABASE_PATH=./data/onewarden.sqlite3
LOG_LEVEL=info
PROXY=false
ENABLE_WEBSOCKET=true
# PUBLIC_ORIGIN=https://vault.example.com
PUSH_ENABLED=false
PUSH_RELAY_URI=https://push.bitwarden.com
PUSH_IDENTITY_URI=https://identity.bitwarden.com
# PUSH_INSTALLATION_ID=
# PUSH_INSTALLATION_KEY=
SIGNUPS_ALLOWED=true
SIGNUPS_VERIFY=false
SIGNUPS_VERIFY_RESEND_TIME=3600
SIGNUPS_VERIFY_RESEND_LIMIT=6
# SIGNUPS_DOMAINS_WHITELIST=example.com
INVITATIONS_ALLOWED=true
INVITATION_EXPIRATION_HOURS=120
EMERGENCY_ACCESS_ALLOWED=true
PASSWORD_ITERATIONS=600000
PASSWORD_HINTS_ALLOWED=true
MAIL_ENABLED=false
UNAUTHENTICATED_RATELIMIT_SECONDS=60
UNAUTHENTICATED_RATELIMIT_MAX_BURST=50
